/* #region load-in-fonts */

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url(/public/assets/font/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: 'Tiempos-Headline-Regular';
    src: url(/public/assets/font/TiemposText-Regular.ttf);
}

/* #endregion */ 

:root {
      /* Huisstijl kleuren */

      --main-bg-color: #F7F7F5;
      --secondary-bg-color: #FFFFFF; 
      --text-color: #000000; 
      --accent-color: #E84340; 

      /* New Accent colors */ 

      --secondary-accent-color : #F2D930; 
      --tertiary-accent-color : #5340E8; 
     
      /* Fonts */ 

      --medium-text: 'Tiempos-Headline-Medium', sans serif;
      --regular-text: 'Tiempos-Headline-Regular', sans serif;
      --content-text: 'Inter', sans serif; 

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 10%;
}

/* Nav styling */

nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
}

@media (min-width: 31.25em) {
    main {
        margin-top: 7%;
    }
}

@media (min-width: 45em) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 60em) {
    main {
        margin-top: 6%;
    }
}

@media (min-width: 75em) {

    .logo {
        width: calc(20% - 5%)
    }

}