/* #region load-in-fonts */

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url(/public/assets/font/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: 'Tiempos-Headline-Regular';
    src: url(/public/assets/font/TiemposText-Regular.ttf);
}

/* #endregion */

:root {
    /* Huisstijl kleuren */

    --main-bg-color: #F7F7F5;
    --secondary-bg-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #E84340;

    /* New Accent colors */

    --secondary-accent-color: #F2D930;
    --tertiary-accent-color: #5340E8;

    /* Fonts */

    --medium-text: 'Tiempos-Headline-Medium', sans serif;
    --regular-text: 'Tiempos-Headline-Regular', sans serif;
    --content-text: 'Inter', sans serif;

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    margin-top: 10%;
}

ul {
    list-style: none;
}

/* Nav styling */

nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(5%);
    border-bottom: solid 1px black;
}


.logo {
    width: 40%;
}

.burger_menu_window {
    position: fixed;
    transform: translateX(-150%);
    transition: transform 0.38s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(238, 238, 238);
    border: solid 2.5px var(--tertiary-accent-color);
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
    font-size: 1.25em;
    font-weight: 800;
}

.close_icon {
    margin: 5%;
    border: none;
    width: 24px;
    height: 24px;
}

.main_pages {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other_pages {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(10%);
    align-items: center;
}

li {
    margin: 5%;
}

.menu_icon {
    background: none;
    color: inherit;
    border: none;
    width: 35px;
    height: 35px;
}

.svg path {
    fill: white;
}


li:hover {
    color: var(--accent-color);

}


@media (min-width: 31.25em) {
    main {
        margin-top: 7%;
    }
}

@media (min-width: 45em) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 60em) {

    nav {
        padding-bottom: 0%;
        border-bottom: none;
        justify-content: center;
    }

    main {
        margin-top: 6%;
        display: flex;
        justify-content: center;
    }

    .search_icon {
        display: none;
    }

    .menu_icon {
        display: none;
    }
}

@media (min-width: 75em) {

    .logo {
        width: calc(20% - 5%)
    }

}